<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/semantic/semantic.css">
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="static/vue.js"></script>
    <script src="static/jquery-3.2.1.js">

    </script>
    <script src="static/semantic/semantic.js">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.6.2/echarts.js"></script>
    <script src="static/js.cookie.js">

    </script>
    <style media="screen">
    body{
      background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1503059941443&di=b61333655ca369a07c3bc1b42cfa705d&imgtype=jpg&src=http%3A%2F%2Fimg3.imgtn.bdimg.com%2Fit%2Fu%3D1520714267%2C3942578411%26fm%3D214%26gp%3D0.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    #board{
      position: absolute;
      width:100%;
      height:100%;
      z-index: 10;
    }
    #render-bar{
      width:100%;
      height:36px;
      position: absolute;
      z-index: 12;
      bottom: 1rem;
      left:0;
    }
    #check-form{
      height:46rem;
      overflow:scroll;
    }
    .bbox{
      position: absolute;
      border: 3px solid hsla(0, 100%, 65%, 0.78);
      z-index: 11;
      box-sizing: content-box;
    }
    .bbox-info{
      position: absolute;
      border: 3px solid rgba(255,79,79,0);
      background-color: hsla(0, 100%, 65%, 0.78);
      z-index: 11;
      color: #fff;
      box-sizing: content-box;

    }
    .ui.container{
      margin-top: 2rem;
    }
    ::-webkit-scrollbar{
      width: 2px !important;
      height: 4px;
      background-color: rgba(0,0,0,0);
    }
    /*定义滚动条的轨道，内阴影及圆角*/
    ::-webkit-scrollbar-track{
        border-radius: 1px;
        background-color: rgba(0,0,0,0);
    }
    /*定义滑块，内阴影及圆角*/
    ::-webkit-scrollbar-thumb{
        width: 1px;
        height: 20px;
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
        background-color: rgba(255,0,0,0.5);
    }
    #back-button{
      position: fixed;
      left:3.2rem;
      top:4rem;
      z-index: 2;
    }
    .list-image{
      width:5rem;
      height:5rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    </style>
  </head>
  <body>
  <div id="app">
    <i @click="goBack" id="back-button" class="big circular inverted red chevron left link icon "></i>
    <div :class="modalClass">
      <i class="close icon"></i>
      <div class="header">
        Bbox Image
      </div>
      <div class="image content">
        <div class="ui medium image">
          <img :src="imgDataURL">
        </div>
        <div class="description">
          <div class="ui header">You can change the ID here!</div>
          <p>Give a ID you prefer and it will be record in the database.</p>
          <form class="ui form">
            <div class="field">
              <label>ID</label>
              <input type="text" :placeholder="inputID" v-model="inputID">
            </div>
            <div class="field">
              <button class="ui red button" type="button" name="button" @click="submitChange">Done</button>
            </div>

          </form>
        </div>
      </div>
      <div class="actions">
        <div class="ui black deny button">
          Back
        </div>
        <div class="ui positive right labeled icon button">
          The default ID is ok.
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
    <div class="ui container">

      <div class="ui blue segment">

        <div class="ui grid">
          <div class="ui twelve wide column">
            <div class="ui segment">
              <div id="board" ref="board"
              @mousedown.self="penDown($event)"
              @mousemove="penMove($event)"
              @mouseup="penUp($event)"
              style="width:786px;height:452px">
                <div class="bbox" v-for="(bbox,index) in hashBboxes[current_time_pos]"
                :style="bbox.style"
                @mousedown="penDown($event)"></div>
                <div class="bbox-info" v-for="(bbox,index) in hashBboxes[current_time_pos]"
                :style="bbox.infoStyle"
                @click.self="changeID(index,$event)"
                >
                  {{bbox.id}}
                </div>

                <div class="bbox" v-for="(bbox,index) in renderBboxes"
                :style="bbox.style"
                ></div>
                <div class="bbox-info" v-for="(bbox,index) in renderBboxes"
                :style="bbox.infoStyle"
                >
                  {{bbox.id}}
                </div>

              </div>
              <video id="frame" ref="video"
              @timeupdate = "updateTrackbar"
              :src="vid['video']" autoplay style="width:100%">

              </video>
              <div ref="renderbar" id="render-bar" style="width:100%;height:32px"></div>

            </div>
            <!-- <div ref="renderbar" style="width:100%;height:40px"></div> -->
            <div class="ui active small teal progress" id="progressor"
            @mousedown="trackbarDown"

            >
              <div class="bar">
                <div class="progress"></div>
              </div>
              <div class="label">{{sec2std(trackbar.post)}}/{{sec2std(trackbar.lent)}}</div>
            </div>
            <div class="ui labeled icon menu">
              <a class="item" @click="videoControll" ref="play">
                <i :class="videoControllerClass"></i>
                播放/暂停
              </a>
              <a class="item" @click="saveBboxes">
                <i class="ui inverted teal circular save big icon"></i>
                保存
              </a>
              <a class="item" @click="renderImage">
                <i class="ui inverted blue circular image big icon"></i>
                检测当前帧
              </a>
              <a class="item" @click="startRenderVideo">
                <i class="ui inverted red circular record big icon"></i>
                检测全部帧
              </a>
              <a class="item" @click="renderTrackbar">
                <i class="ui inverted yellow circular area chart big icon"></i>
                Render Trackbar
              </a>
            </div>

          </div>
          <div class="ui four wide column">
            <!-- <div class="ui segment">
              <button :class="videoControllerClass" @click="videoControll" ref="play">{{videoController}}</button>
              <button class="ui pink button" type="button" name="button" @click="saveBboxes">Save</button>
              <div class="ui divider">

              </div>
              <button class="ui blue button" type="button" name="button" @click="renderImage">检测当前帧</button>
              <button class="ui teal button" type="button" name="button" @click="frameAutoRender">cXRender</button>
            </div> -->
            <div class="ui red segment" id="check-form">
              <h3 class="ui header">Bboxes List</h3>
              <p>Choose a bbox to check when it appears in the video.</p>
              <div class="ui divider"></div>
              <form class="ui form">
                <div class="ui red segment" v-for="(bbox,index) in bboxes0">
                  <div class="ui two column grid">

                    <div class="column">
                      <img class="list-image" :src="image_list[index]">
                    </div>

                    <div class="column">
                      <div class="field">
                        <input type="checkbox" :value="bbox.id" v-model="picked">
                        {{bbox.id}}
                      </div>
                    </div>

                  </div>
                </div>



                <button class="ui tiny red button" type="button" @click="renderVideo">Find him!</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  <script type="text/javascript">
  // 基于echarts的出现概率分布图，只需要传入dom即可将该dom转化为概率分布图模块
  var RenderBar = function(dom){
    var self = this;
    this._init = function(dom){
      self.data = [];
      self.option = {
            grid: {
                left: '1%',
                right: '1%',
                bottom: '1%',
                top:'1%'
            },
            xAxis : [
                {
                    type : 'value',
                    show: false,
                    splitLine:{show:false},
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    show: false,
                    splitLine:{show:false}
                }
            ],
            series : [
                {
                    type:'line',
                    symbol:'none',
                    areaStyle: {
                      smooth:true,
                      normal: {
                        color:'hsla(0, 100%, 65%, 0.48)'
                      }
                    },
                    data:this.data,
                    itemStyle : {
                      normal : {
                        lineStyle:{
                            color:'hsla(0, 100%, 65%, 0.78)'
                        }
                      }
                    },
                }
            ]
          };
      self.myChart = echarts.init(dom);
      self.myChart.setOption(self.option);
    };
    this.renderData = function(data){
      self.data = data;
      self.option.series = [];
      for(var i=0;i<data.length;i++){
        var _color = parseInt(Math.random()*360);
        var sub_series = {
            type:'line',
            symbol:'none',
            areaStyle: {
              smooth:true,
              normal: {
                color:'hsla('+_color+', 100%, 65%, 0.48)'
              }
            },
            data:data[i],
            itemStyle : {
              normal : {
                lineStyle:{
                    color:'hsla('+_color+', 100%, 65%, 0.78)'
                }
              }
            },
        };
        self.option.series.push(sub_series);
      }
      self.myChart.setOption(self.option);
    }
    this._init(dom);
  }
  </script>
  <script type="text/javascript">
  // Vue.component('bbox',{
  //   template:"<div :class='bbox'></div>"
  // })
  var app = new Vue({
    el: '#app',
    data: {
      vid:{},//由cookie获取的信息，包含视频的地址，长度，尺寸等信息。
      scale:640/786, // scale=（视频实际尺寸/视频真实尺寸）
      pen_is_finished:false,//
      videoController: 'Pause',//视频播放按钮状态值（取反后）
      videoControllerClass:["ui","inverted","orange","circular","pause","big","icon"],//视频播放器的class
      penStatus:false,//画笔状态，画笔是指在绘制bbox时的鼠标，true表示正在绘画
      bboxes:[],//1.0版本中用于表示当前显示的bbox信息，是bboxes0的子集
      bboxes0:[],//1.0版本中用于表示所有时刻的所有bbox信息
      bboxes_length:0,//bboxes的长度，用以避免js对length的低效调用
      bboxes0_length:0,
      board:{},
      modalClass:["ui","modal"],//用于控制这遮罩层
      imgDataURL:"",
      inputID:null,
      changingBboxesPos:0,
      renderBboxes:[],
      renderBboxes0:[],
      trackbar:{//进度条
        pos:0,//视频播放的位置
        stat:false,//
        len:1,
        width:0,
        left:0,
        post:0,//视频播放的时间位置
        lent:0//视频的总长度
      },
      renderbar:null,
      picked:[],//请求检测的ID列表，作为参数向各API发送，由页面的多选区生成
      hashBboxes:[],
      hashBboxes_tag:[],
      current_time_pos:0,//表示当前视频播放的时刻转数组下标
      image_list:[]
    },
    methods: {
      goBack:function(){
        Cookies.set("vid","");
        window.location.href = "./index.html";
      },
      // videoControll() 视频播放暂停控制函数，
      videoControll:function(){

        if(this.videoController == "Pause"){
          // pause the video
          this.$refs.video.pause();
          this.videoController = "Play";
          this.videoControllerClass[2] = "green";
          this.videoControllerClass[4] = "play";
        }
        else{
          // play the video
          this.$refs.video.play();
          this.bboxes = [];
          this.renderBboxes = [];
          this.bboxes_length = 0;
          this.videoController = "Pause";
          this.videoControllerClass[2] = "orange";
          this.videoControllerClass[4] = "pause";
        }

      },
      // penDown() 画笔mousedown事件
      // 这里会创建一个新的bbox，包括 id，time，scale，data，style，infostyle几个字段
      penDown:function(event){
        // console.log(this.$refs.board.offsetLeft);
        if(this.videoController == "Play"){
          console.log("Pen Down.");
          // console.log(this.board.x);
          this.penStatus = true;
          var _color = "hsla("+parseInt(Math.random()*360)+", 100%, 78%, 0.78)";
          var _bbox = {
            id:"ID-"+this.bboxes0_length, // bbox对应的id
            time:this.$refs.video.currentTime, // bbox出现的时刻
            scale:this.scale, //视频放缩比
            data:{ // 四点坐标的数值（用于计算）
              x0:event.pageX - this.board.x,
              y0:event.pageY - this.board.y,
              x1:event.pageX - this.board.x,
              y1:event.pageY - this.board.y,
            },
            style:{ // 坐标，长宽，颜色信息（用于绘图）
              left:(event.pageX - this.board.x) + "px",
              top:(event.pageY - this.board.y) + "px",
              width:0,
              height:0,
              borderColor:_color
            },
            infoStyle:{ // bbox下部的信息框的坐标，长宽，颜色信息（用于绘图）
              left:(event.pageX - this.board.x) + "px",
              top:(event.pageY - this.board.y) + "px",
              width:0,
              // height:0,
              backgroundColor:_color,
              display:"none"
            }
          };

          this.bboxes.push(_bbox);
          this.bboxes0.push(_bbox);
          this.bboxes_length ++;
          this.bboxes0_length ++;

          this.current_time_pos = parseInt(this.$refs.video.currentTime * 5);
          this.hashBboxes[this.current_time_pos].push(_bbox);
          // 考虑是否修改tag，暂时建议不修改用以区分个人画的和后续渲染的，但问题是未来可能钥重新渲染多次，需要充值函数

        }

      },
      // penMove()画笔移动处理，即时更新bbox状态，但暂时不更行bboxes0
      penMove:function(event){
        if(this.penStatus == true){
          event.preventDefault();
          // var tmp_length = this.hashBboxes[this.current_time_pos].length;
          this.bboxes[this.bboxes_length-1].style.width =  (event.pageX - this.board.x - this.bboxes[this.bboxes_length-1].data.x0) + "px";
          this.bboxes[this.bboxes_length-1].style.height = (event.pageY - this.board.y - this.bboxes[this.bboxes_length-1].data.y0) + "px";
          this.bboxes[this.bboxes_length-1].data.x1 = event.pageX - this.board.x;
          this.bboxes[this.bboxes_length-1].data.y1 = event.pageY - this.board.y;
        }

      },
      // penUp() 画笔结束处理
      penUp:function(event){
        if(this.penStatus == true){
          // 更新bbox的style与data
          this.bboxes[this.bboxes_length-1].style.width =  (event.pageX - this.board.x - this.bboxes[this.bboxes_length-1].data.x0) + "px";
          this.bboxes[this.bboxes_length-1].style.height = (event.pageY - this.board.y - this.bboxes[this.bboxes_length-1].data.y0) + "px";
          this.bboxes[this.bboxes_length-1].data.x1 = event.pageX - this.board.x;
          this.bboxes[this.bboxes_length-1].data.y1 = event.pageY - this.board.y;
          // 更新bbox的infobox信息，同时在结束的时刻设infobox为可视
          this.bboxes[this.bboxes_length-1].infoStyle.top = (this.bboxes[this.bboxes_length-1].data.y1 + 6) + "px";
          this.bboxes[this.bboxes_length-1].infoStyle.width = this.bboxes[this.bboxes_length-1].style.width;
          this.bboxes[this.bboxes_length-1].infoStyle.display = "inline-block";
          // 同步至bboxes0
          this.bboxes0[this.bboxes0_length-1] = this.bboxes[this.bboxes_length-1];
          _end = this.hashBboxes[this.current_time_pos].length - 1;
          this.hashBboxes[this.current_time_pos][_end] = this.bboxes[this.bboxes_length-1];
          // //can use bboxes0[pos] = bboxes[pos], but i am not sure the risk for now.

          this.penStatus = false;
          console.log("Pen up.");
          var bboxCanvas = document.createElement("canvas");
          bboxCanvas.width =  this.bboxes[this.bboxes_length-1].data.x1-this.bboxes[this.bboxes_length-1].data.x0;
          bboxCanvas.height =  this.bboxes[this.bboxes_length-1].data.y1-this.bboxes[this.bboxes_length-1].data.y0;
          var ctx = bboxCanvas.getContext("2d");
          // 注意scale，要时刻清楚原视频尺寸与Web展示的尺寸不同
          ctx.drawImage(this.$refs.video,
                        this.bboxes[this.bboxes_length-1].data.x0*this.scale,
                        this.bboxes[this.bboxes_length-1].data.y0*this.scale,
                        bboxCanvas.width*this.scale,
                        bboxCanvas.height*this.scale,

                        0,0,
                        bboxCanvas.width,bboxCanvas.height
                      );
          this.imgDataURL = bboxCanvas.toDataURL();
          this.image_list.push(this.imgDataURL);



        }
      },
      // changeID(i, event) 修改默认生成的ID，i为bbox在bboxes中的位置
      changeID:function(i,event){
        console.log("Start change ID.");
        this.changingBboxesPos = i; // 记录被当前改变的bbox的位置，再提交修改请求的另一个函数中需要用到该变量

        // 创建画布canvas，用于将bbox从视频中截取出来用以展示
        var bboxCanvas = document.createElement("canvas");
        bboxCanvas.width =  this.bboxes[i].data.x1-this.bboxes[i].data.x0;
        bboxCanvas.height =  this.bboxes[i].data.y1-this.bboxes[i].data.y0;
        var ctx = bboxCanvas.getContext("2d");
        // 注意scale，要时刻清楚原视频尺寸与Web展示的尺寸不同
        ctx.drawImage(this.$refs.video,
                      this.bboxes[i].data.x0*this.scale,
                      this.bboxes[i].data.y0*this.scale,
                      bboxCanvas.width*this.scale,
                      bboxCanvas.height*this.scale,

                      0,0,
                      bboxCanvas.width,bboxCanvas.height
                    );
        this.imgDataURL = bboxCanvas.toDataURL();

        this.inputID = this.bboxes[i].id;// this.inputID 是修改表单中input的值（ID），这里做初始化

        $(".ui.modal").modal("show"); //semanticUI的操作
      },
      // submitChange() 提交ID修改，更新bbox
      // 问题，如果不点击播放(保存bboxes0到后端)，那么bboxes的信息将如何更新到bboxes0 上？？！可能导致自定义ID无法被更新
      submitChange:function(){
        console.log("ID Changed successfully");
        this.bboxes[this.changingBboxesPos].id = this.inputID;
        console.log(this.bboxes[this.changingBboxesPos].id);
        $(".ui.modal").modal("hide");
      },
      // updateTrackbar() 随视频播放，实际上是timeupdate事件，更新视频进度条
      // 新版本中加入了hasbboxes的缓存判断
      updateTrackbar:function(event){
        // console.log(this.$refs.video.duration,this.trackbar.len,"+++");
        this.trackbar.post = this.$refs.video.currentTime; //post表示时间位置（pos + t）
        this.current_time_pos = parseInt(this.trackbar.post * 5);
        this.trackbar.pos = this.$refs.video.currentTime*100 / this.$refs.video.duration; //视频播放进度百分比
        $("#progressor").progress({percent: this.trackbar.pos});

        // 判断，当渲染视频的状态为真时渲染视频（避免在未发送渲染指令时就自动进行渲染）
        if(this.renderStatus == 1){
          // 判断 从start到end之间的时间内是否有未渲染的时刻，如果有，进行预渲染
          // 后续提供渲染请求安全边际的数学证明
          var start_time, end_time;
          start_time = parseInt(this.$refs.video.currentTime);
          end_time = 5 * (start_time + 5);
          for(var i=start_time*5;i<(start_time+5)*5;i++){
            // 检查i时刻的hashbboxes
            if(this.hashBboxes_tag[i] == 0){
                this.renderVideoPackage({"start_time":(i+1)/5.0})
                break;
            }
          }
        }
      },
      // trackbarDown 进度条mousedown事件
      trackbarDown:function(event){
        console.log("change the currentTime of video");
        this.trackbar.stat = true;

        this.trackbar.pos = 100*(event.pageX - this.trackbar.left) / this.trackbar.width;
        this.trackbar.post = this.$refs.video.currentTime;
        $("#progressor").progress({percent: this.trackbar.pos});
        this.$refs.video.currentTime = this.trackbar.pos * this.$refs.video.duration / 100;
      },
      // 进度条暂时不支持拖拽式调整， 原因在于会在全局定义mouseUp事件与bbox的画笔冲突
      // 解决思路有二，一在足够大，但不与bbox画布冲突的dom上定义mouseup事件
      // 二，定义状态变量，用以区分不同的mouseup事件
      trackbarMove:function(event){
        if(this.trackbar.stat == true){
          this.trackbar.pos = 100*(event.pageX - this.trackbar.left) / this.trackbar.width;
          this.trackbar.post = this.$refs.video.currentTime;
          $("#progressor").progress({percent: this.trackbar.pos});
          this.$refs.video.currentTime = this.trackbar.pos * this.$refs.video.duration / 100;
        }
      },
      trackbarUp:function(event){
        if(this.trackbar.stat == true){
          this.trackbar.pos = 100*(event.pageX - this.trackbar.left) / this.trackbar.width;
          this.trackbar.post = this.$refs.video.currentTime;
          $("#progressor").progress({percent: this.trackbar.pos});
          this.$refs.video.currentTime = this.trackbar.pos * this.$refs.video.duration / 100;
          this.trackbar.stat = false;
        }
      },
      // 遗弃的视频渲染功能，思想是渲染全视频，得到全视频的数据，耗时过高，舍弃。
      renderVideo:function(){
        var self = this;
        $.ajax({
          url:"http://47.95.9.69:2333/render/request",
          method:"POST",
          dataType:"json",
          data: JSON.stringify({
              find:self.picked,
	            scale:self.scale
          }),
          success:function(resp){
            self.renderbar.renderData(resp.prob);
            self.renderBboxes0 = resp.bboxes;
            console.log("return rendered bboxes:",resp.bboxes);
            setInterval(function(){
              self.drawRenderBboxes();
            },125)
          }
        });

      },
      startRenderVideo:function(){
        // setInterval()
        this.renderStatus = 1;
        this.renderVideoPackage();
      },
      //renderVideoPackage()用于发送视频片段的渲染请求，需要片段的起始时间和结束时间
      renderVideoPackage:function(){
        var period = 5;
        var self = this;
        var start_time,end_time;
        start_time = self.$refs.video.currentTime;
        end_time = Math.min(self.$refs.video.duration, start_time + period);
        $.ajax({
          url:"http://47.95.9.69:2333/render/package",
          method:"POST",
          dataType:"json",
          data: JSON.stringify({
            video_url:self.vid["video"],
            find:self.picked,
            scale:self.scale,
            start_time:start_time,
            period:period
          }),
          success:function(resp){
            console.log(resp);
            // self.hashBboxes ;
            var pos = parseInt(start_time * 5);
            for(var i=0,resp_length = resp.hashBboxes.length;i<resp_length;i++){
               //5 may be a global variable
              self.hashBboxes[pos] = resp.hashBboxes[i];
              self.hashBboxes_tag[pos] = 1;
              pos++;
              console.log(pos, self.hashBboxes);
            }
          }
        });
      },
      // 概率分布条的渲染，发送一个ID数组，表示想要查询的人，返回对应的概率数组，并渲染为折线统计图
      renderTrackbar:function(){
        var self = this;
        $.ajax({
          url:"http://47.95.9.69:2333/render/trackbar",
          method:"POST",
          dataType:"json",
          data: JSON.stringify({
              video_url:self.vid["video"],
              find:self.picked,
	            scale:self.scale
          }),
          success:function(resp){
            self.renderbar.renderData(resp.prob);
          }
        });
      },
      // 单张图片的渲染， 更新到当前展示的bboxes当中
    	renderImage:function(){
    	var self = this;
    	console.log("render Image");
    	$.ajax({
              url:"http://47.95.9.69:2333/render/image",
              method:"POST",
              dataType:"json",
              data: JSON.stringify({
                    video_url:self.vid["video"],
                  	find:self.picked,
                		time:self.$refs.video.currentTime,
                		scale:self.scale
              }),
              success:function(resp){
                self.renderBboxes = resp.bboxes;
                console.log("return rendered bboxes:",resp.bboxes);
              }
            });
    	},
      // 旧的全局bboxes动态绘制函数，暂时舍弃
      drawRenderBboxes:function(){
        // console.log("painting invertal.");
        var _currentTime = this.$refs.video.currentTime * 1000, b_len = this.renderBboxes0.length;
        this.renderBboxes = [];
        for(var i=0;i<b_len;i++){
          if(this.renderBboxes0[i].time* 1000 >= _currentTime - 120 && this.renderBboxes0[i].time* 1000 <= _currentTime + 120){
            this.renderBboxes.push(this.renderBboxes0[i]);
          }
        }
      },
      // 保存bboxes0
      saveBboxes:function(){
        var self = this;

        $.ajax({
          url:"http://47.95.9.69:2333/api/bboxes",
          method:"POST",
          dataType:"json",
          data: JSON.stringify({
              video_url:self.vid["video"],
              bboxes:self.bboxes0
          }),
          success:function(resp){
            console.log("success!!!");
          }
        });
      },
      // 双监控器机制下的视频预渲染启动函数，暂时停止开发，改为单监控器
      frameAutoRender:function(){
        var self = this;
        setInterval(function(){
          // $.ajax({
          //         url:"http://47.95.9.69:2333/render/image",
          //         method:"POST",
          //         dataType:"json",
          //         data: JSON.stringify({
          //             	find:self.picked,
          //           		time:self.$refs.video.currentTime+0.01,
          //           		scale:self.scale
          //         }),
          //         success:function(resp){
          //           self.bboxes = [];
          //           self.bboxes = resp.bboxes;
          //           console.log("return rendered bboxes:",resp.bboxes);
          //         }
          //       });
          var start_time, end_time;
          start_time = parseInt(his.$refs.video.currentTime);
          end_time = 5 * (start_time + 5);
          for(var i=start_time*5;i<start_time+5;i++){
            if(this.hashBboxes_tag[i] == 0){
                break;
                this.renderVideoPackage({"start_time":start_time+5})
            }
          }

        },160);
      },
      // 时间格式化
      sec2std:function(sec){
          sec = Number(sec)
          var h,m,s;
          h = parseInt(sec / 3600);
          sec -= h*3600;
          m = parseInt(sec / 60);
          sec -= m*60;
          s = parseInt(sec);
          return h + ":" + m + ":" + s;
      },
    },
    created:function(){
    },
    mounted:function(){
      this.vid = JSON.parse(Cookies.get("vid"));
      this.board.x = $("#frame").offset().left;

      this.board.y = $("#frame").offset().top;

      this.board.width = this.$refs.board.offsetWidth;
      // console.log("the board width is",this.board.width);
      this.board.height = this.$refs.board.offsetHeight;

      this.scale = this.vid["width"]/this.board.width;

      // this.trackbar.len = this.$refs.video.duration;
      // cannot get duration here.
      this.trackbar.left = $("#progressor").offset().left;
      this.trackbar.width = $("#progressor").width();
      this.trackbar.lent = this.vid["length"];
      console.log(this.trackbar.len,this.$refs.video.duration);
      $("#progressor").progress({percent:0});

      this.renderbar = new RenderBar(this.$refs.renderbar);
      //hashBboxes 初始化
      hashBboxes_length = parseInt(this.trackbar.lent * 5);
      for(var i=0;i<hashBboxes_length;i++){
        var bboxes_at_currentTime = {};
        this.hashBboxes_tag.push(0); //tag表示该时刻的bboxes数据是否被加载
        this.hashBboxes.push([]);
      }
      // console.log("init hashBboxes",bboxes_at_currentTime);

    }
    })
  </script>
</html>
